<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ base_url }}/public/css/app.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <script src="{{ base_url }}/public/js/init-alpine.js"></script>
    <script src="{{ base_url }}/public/js/cart/show-cart.js"></script>

    {% block headStylesheet %}
    {% endblock %}

    {% block headScript %}
        
    {% endblock headScript %}
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal" x-data="data()">
    {% include "partials/_nav.html" %}

    {% include "partials/_cart.html" %}

    {% block content %}
        
    {% endblock content %}

    {% include "partials/_footer.html" %}
    {% include "partials/_template.html" %}

    {% block footerScript %}
        
    {% endblock footerScript %}
</body>

</html>