{% extends "master.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            {{ title }}
        </h2>

        <div class="w-full overflow-hidden rounded-lg">
            <div class="grid grid-cols-3 gap-6">
                <div class="max-w-sm bg-white border rounded-lg overflow-hidden my-4">
                    <img class="w-full h-56 object-cover object-center"
                        src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                        alt="avatar">

                    <div class="py-4 px-6">
                        <h1 class="text-2xl font-semibold text-gray-800">{{ user.u_fullname }}</h1>
                        <p class="py-2 text-lg text-gray-700">{{ user.u_name }}</p>
                        <div class="flex items-center mt-4 text-gray-700">
                            <ion-icon name="call"></ion-icon>
                            <h1 class="px-2 text-sm">{{ user.user_phone_num }}</h1>
                        </div>
                        <div class="flex items-center mt-4 text-gray-700">
                            <ion-icon name="mail"></ion-icon>
                            <h1 class="px-2 text-sm">{{ user.u_email }}</h1>
                        </div>
                    </div>
                </div>

                <div class="max-w-sm bg-white border rounded-lg overflow-hidden my-4">
                    <div class="py-4 px-6">
                        <div class="flex items-center mt-4 text-gray-700">
                            <ion-icon name="business"></ion-icon>
                            {% if area == '' %}
                            <h1 class="px-2 text-sm">Nothing</h1>
                            {% else %}
                            <h1 class="px-2 text-sm">{{ area.city_name }}</h1>
                            {% endif %}
                        </div>
                        <div class="flex items-center mt-4 text-gray-700">
                            <ion-icon name="browsers"></ion-icon>
                            {% if area == "" %}
                            <h1 class="px-2 text-sm">User has not updated location</h1>
                            {% else %}
                            <h1 class="px-2 text-sm">{{ area.district_name }}</h1>
                            {% endif %}
                        </div>
                        <div class="flex items-center mt-4 text-gray-700">
                            <ion-icon name="home"></ion-icon>
                            <h1 class="px-2 text-sm">{{ user.u_address }}</h1>
                        </div>
                    </div>
                </div>

                <div class="max-w-sm bg-white border rounded-lg overflow-hidden my-4">
                    <div class="py-4 px-6">
                        <div class="flex items-center mt-4 text-gray-700">
                            <span
                                class="inline-block rounded-full px-2 py-1 {{ user.us_class }} text-xs font-bold mr-3">{{ user.us_name }}</span>
                        </div>

                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="user-status">
                            Change User Status
                          </label>
                        <select name="user-status" id="user-status"
                            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            {% for item in status %}
                            <option value="{{ item.id }}">{{ item.us_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}