{% extends "master.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<main class="h-full overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <div class="flex items-center ">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200 mr-4">
                {{ title }}
            </h2>

            <!--Add New Images btn-->
            <button id="upload-img-btn"
                class="px-4 py-2 border border-blue-400 bg-white text-blue-400 hover:bg-blue-400 hover:text-white rounded-lg">Upload
                New Images</button>
        </div>

        <!--Upload area-->
        <section class="hidden h-full overflow-auto p-8 w-full h-full flex flex-col" id="upload-img-field">
            <header class="border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                {# <p class="mb-3 font-semibold text-gray-900 flex flex-wrap justify-center">
                    <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
                </p> #}
                <input id="hidden-input" type="file" multiple class="hidden" />
                {# <button id="button"
                    class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                    Upload a file
                </button> #}
                <form method='post' action='' enctype="multipart/form-data">
                    <input type="file" id='files' name="files[]" multiple>
                    </br>
                    <input type="button" id="submit" value='Upload'>
                </form>
            </header>
        </section>

        <!--Show all images item-->
        <div class="grid grid-cols-4 gap-6">
            <div class="col-span-3">
                <div class="grid grid-cols-6 gap-4" id="galleries">
                    {% for item in data %}
                    <img src="{{ item.g_slug }}" alt="{{ item.g_name }}">
                    {% endfor %}
                </div>
            </div>

            {# img selected #}
            <div class="w-full p-2">
                <h2 class="text-xl text-gray-600">Image Selected</h2>
            </div>
        </div>
        <div class="my-6"></div>
    </div>
</main>
{% endblock %}

{% block footerScript %}
<script>
    $(document).ready(function () {
        $('#upload-img-btn').on("click", function () {
            $('#upload-img-field').toggleClass("hidden");
        });
    });
</script>

<script src="{{ base_url }}/public/js/gallery/upload.js"></script>
{% endblock %}