<template id="cart-item">
    <tr>
        <td class="hidden pb-4 md:table-cell">
            <a href="#">
                <img src="" class="w-20 rounded"
                    alt="Thumbnail">
            </a>
        </td>
        <td>
            <a href="#">
                <p class="mb-2 md:ml-4" id="item-cart__name"></p>
                <button class="text-red-500 md:ml-4 rmItem" name="removeItemBtn">Remove Item</button>
            </a>
        </td>
        <td class="justify-center md:justify-end md:flex mt-6">
            <div class="w-20 h-10">
                <div class="relative flex flex-row w-full h-8">
                    <input type="number" value=""
                        class="w-full font-semibold text-center text-gray-700 bg-gray-200 outline-none focus:outline-none hover:text-black focus:text-black" id="item-cart__quantity" min="1"/>
                </div>
            </div>
        </td>
        <td class="hidden text-right md:table-cell">
            <span class="text-sm lg:text-base font-medium" id="item-cart__price">
                
            </span>
        </td>
        <td class="text-right">
            <span class="text-sm lg:text-base font-medium" id="item-cart__total">
                
            </span>
        </td>
    </tr>
</template>

<template id="no-item">
    <p>Bạn không có sản phẩm nào trong giỏ</p>
</template>