<div class="text-gray-500 dark:text-gray-400">
    <!-- logo -->
    <div class="w-full h-16 flex items-center justify-center bg-gray-200">
        <div class="w-full h-full flex items-center justify-center py-2">
            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/8/80/FPT_New_Logo.png/1200px-FPT_New_Logo.png"
                alt="FPT logo" class="max-w-full max-h-full">
        </div>
    </div>

    
    <div class="px-6 my-6">
        <button
            class="flex items-center justify-between w-full px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-orange-500 border border-transparent rounded-lg active:bg-orange-600 hover:bg-orange-600 focus:outline-none focus:shadow-outline-purple">
            Create account
            <span class="ml-2" aria-hidden="true">+</span>
        </button>
    </div>
</div>